// Define variables for your color scheme
$pink: #D83F87;
$black: #322A26;
$gold: #FFD700;
$purple: #6564A6;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
