.devise-container {
  padding: 10px 8px;
}

.forme-btn {
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: $purple;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 20px;
  }
// ----------------login-------------------------
.forme-login {
  background-color: white;
  padding: 30px 20px;
  margin-top: 50px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}
// ----------------login-------------------------
// ----------------sign up-------------------------
.forme-sign-up {
  background-color: white;
  padding: 30px 20px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

