// Specific CSS for your home-page

// btn filter home specifities
#icon-disc {
  font-size: 26px;
  margin-top: 2px;
  margin-bottom: 4px;
}

#btn-filter-left {
  border-radius: 10px 0 0 0;
}

#btn-filter-right {
  border-radius: 0 10px 0 0;
}
