// to delete after replacement with cards!!
.replace-with-map {
    background-color: lightgray;
    width: 100%;
    height: 150px;
    margin-top: 30px;
}

// body without banner & btns filters
.homepage-container {
  margin: 20px 15px;
}

.homepage-group {
  margin-bottom: 20px;
  h1 {
    font-size: 32px;
    font-weight: bold;
    color: $black; 
    margin-bottom: 15px;
  }
  h2 {
    font-size: 24px;
    color: $black;
  }
}

.title-with-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  a {
    background-color: $pink;
    padding: 6px 20px;
  }
}

// specificities
.no-shadow {
  box-shadow: 0;
}