<div class="card-bar-larg">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">

  <div class="card-bar-info">
    <div class="card-bar-event">
      <h5>Event</h5>
    </div>

    <div class="card-bar-title">
      <h5><%= bar.name %></h5>
    </div>

    <div class="card-bar-review-position">
      <div class="card-bar-review">
        <div class="stars">
          <p>*****</p>
        </div>

        <div class="review">
          <p>10 avis</p>
        </div>
      </div>

      <div class="card-bar-larg-position">
        <div class="position-text">
          <i class="fas fa-map-marker-alt"></i>
        </div>

        <div class="position-meter">
          <p>200m</p>
        </div>
      </div>
    </div>
  </div>
</div>

