<h1> Index of bars</h1>
<div class="container" style=" display: flex; justify-content: space-between;">
  <%= render "shared/cards/card-bar-small" %>
  <%= render "shared/cards/card-bar-small" %>
</div>


