<div class="card-event-small">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">

  <div class="card-event-info">
    <div class="card-event-event">
      <p><%= event.category %></p>
    </div>

    <div class="card-event-title">
      <h5><%= event.bar.name %></h5>
    </div>

    <div class="card-event-position-price">
      <div class="card-event-position">
        <div class="position-text">
          <i class="fas fa-map-marker-alt"></i>
        </div>

        <div class="position-meter">
          <p>200m</p>
        </div>
      </div>
      <div class="price">
        <p><%= event.price %></p>
      </div>
    </div>
  </div>
</div>

