<div class="card-bar-small">
  <img src="<%= bar.photo_url_1 %>">

  <div class="card-bar-info">
    <% if bar.incoming_event %>
    <div class="card-bar-event">
      <p><%= bar.incoming_event.category %></p>
    </div>
    <% end %>

    <div class="card-bar-title">
      <h5><%= bar.name %></h5>
    </div>
    <div class="card-bar-small-review-position">
      <div class="card-bar-review">
        <div class="stars">
          <div class="card-bar-small-show-reviews">
            <% bar.average_rating.to_i.times do %>
              <span class="fas fa-star" style="color: #D83F87;"></span>
            <% end %>
            <% bar.blank_stars.to_i.times do %>
              <span class="fas fa-star" style="color: grey;"></span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card-bar-small-position">
        <div class="position-text-small">
          <i class="fas fa-map-marker-alt" style="color: #78c4d4;"></i>
        </div>
        <div class="position-meter">
          <p><%= bar.distance_from %></p>
        </div>
      </div>
    </div>
  </div>
</div>
