<div class="btn-filter-map">
  <div class="btn-filter">
    <%= link_to "" do %>
      <%= svg('icon-up') %>
      <p>FILTERS</p>
    <% end %>
  </div>
  <div class="btn-map">
    <%= link_to "" do %>
      <i class="fas fa-map-marked-alt"></i>
      <p>MAP</p>
    <% end %>
  </div>
</div>
