<div class="card-event-larg">
  <img src="<%= event.photo_url_1 %>">

  <div class="card-event-larg-info">
    <div class="card-event-larg-event">
      <h5><%= event.category %></h5>
    </div>

    <div class="card-event-title">
      <h5><%= event.name %></h5>
    </div>

    <div class="card-event-larg-position-price">
      <div class="card-event-position">
        <div class="position-text">
          <i class="fas fa-map-marker-alt"></i>
        </div>

        <div class="position-meter">
          <p>200m</p>
        </div>
      </div>
      <div class="price">
        <p><%= event.price %></p>
      </div>
    </div>
  </div>
</div>
