<!-- Bar header -->
<%= link_to root_path do %>
  <div class="arrow-back">
    <i class="fas fa-chevron-left"></i>
  </div>
<% end %>
  <div class="bar-header">
    <div class="title">
      <h2>Events</h2>
    </div>
  </div>


<!-- Cards container -->
<div class="index-container">
  <% @events.each do |event|  %>
    <%= link_to event_path(event) do %>
      <%= render 'card-event-larg', event: event%>
    <% end %>
    <% end %>
</div>

<div class="btn-filter-map">
  <div class="btn-filter">
    <i class="fas fa-filter"></i>
    <p>FILTERS</p>
  </div>
  <div class="btn-map">
    <i class="fas fa-map-marked-alt"></i>
    <p>MAP</p>
  </div>
</div>
