

<div class="welcome-container">
  <div class="cross-back-btn">
    <%= link_to root_path do %>
            <i class="fas fa-times"></i>
      <% end %>
  </div>
  <h2 class="welcome-title">Welcome to BarFever</h2>
    <p class="welcome-subtitle">We know the perfect place!</p>
    <div class="welcome-img d-flex align-items-center justify-content-center main-img"></div>
    <div class="welcome-buttons">
      <%= link_to 'Sign In', new_user_session_path, class: 'welcome-btn-sign-in' %>
      <%= link_to 'Register', new_user_registration_path, class: 'welcome-btn-sign-up' %>
    </div>
</div>
