<div class="card-event-larg">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">

  <div class="card-event-larg-info">
    <div class="card-event-larg-event">
      <p>Event</p>
    </div>

    <div class="card-event-title">
      <h5>Bar name</h5>
    </div>

    <div class="card-event-larg-position-price">
      <div class="card-event-position">
        <div class="position-text">
          <i class="fas fa-map-marker-alt"></i>
        </div>

        <div class="position-meter">
          <p>200m</p>
        </div>
      </div>
      <div class="price">
        <p>$$$$</p>
      </div>
    </div>
  </div>
</div>

