.show-container {
  margin: 0px auto 20px auto;
  width: 95%;
  min-height: calc(100vh - 280px);
}
.photos-night {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 115px;
}

.section-title {
  margin-top: 25px;
}

.event-bar-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
