.card-bar-show {
  margin-top: 8px;
  padding: 12px 6px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-bar-show-category {
  color:#D83F87;
}

.card-bar-show-buttons {
  margin-top: 18px;
  display: flex;
  // justify-content: space-between;
}

.card-bar-price-grey {
  color: grey;
}

.card-bar-show-map {
  position: relative;
}

#img-bar-show {
  height: 210px;
  width: 100%;
  object-fit: cover;
}

.carousel-img-show {
  background-size: cover;
  background-position: center;
}
