.card-bar-show {
  margin-top: 8px;
  padding: 12px 6px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-bar-show-category {
  color:#D83F87;
}

.card-bar-show-buttons {
  margin-top: 18px;
  display: flex;
  // justify-content: space-between;
}

.card-bar-price-grey {
  color: grey;
  padding: 6px;
}

.card-bar-show-map {
  position: relative;
}

#img-bar-show {
  width: 100%;
  height: 200px;
}

.carousel-item {
  img {
    object-fit: contain;
    height: 100%;
  }
}
.card-bar-show-music-style {
  margin-top: 8px;
  padding: 12px 6px;
}

.badge badge-pill badge-primary {
  color:black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
