.btn-pink {
  background-color: $purple;
  border: 1px solid $purple;
  border-radius: 5px;
  color: white;
}

.btn-outline-pink {
  border: 1px solid $purple;
  border-radius: 5px;
  color: $purple;
}
