.btn-pink {
  background-color: #D83F87;
  border: 1px solid #D83F87;
  border-radius: 5px;
  color: white;
}

.btn-outline-pink {
  border: 1px solid #D83F87;
  border-radius: 5px;
  color: #D83F87;
}
