.card-bar-show {
  padding: 12px 6px;
  background-color: white;
}

.card-bar-show-body{
  display: flex;
  justify-content: space-between;
}

.card-bar-show-category {
  margin: 6px;
}

.card-bar-show-buttons {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
