.card-bar-show {
  padding: 12px 6px;
  background-color: white;
}

.card-bar-show-category {
  color:#D83F87;
}

.card-bar-show-buttons {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}

.card-bar-price-grey {
  color: grey;
}

.card-bar-show-map {
  position: relative;
}
