.card-event-show {
  margin-top: 8px;
  padding: 12px 6px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-event-show-category {
  color:#D83F87;
}

.card-event-show-buttons {
  margin-top: 18px;
  display: flex;
  justify-content: space-around;
}

.card-event-price-grey {
  color: grey;
}

.card-event-show-map {
  position: relative;
}

