// homepage

//div btn sans btn event
.container-btn-filters {
  margin-top: 15px;
}

.btn-filter-list {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 4px;
}

//btn
.btn-filter-home {
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.2);
  background-color: white;
  margin: 0;
  padding: 10px 20px;
  width: 85px;
  border-radius: 6px;
  a {
    color: $purple;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
  svg {
    width: 47px;
    font-size: 30px;
  }
  p {
    font-size: 10px;
    margin: 0;
    text-align: center;
    font-weight: bolder;
  }
}

//btn event with calendar
.btn-filter-events {
  padding: 2px;
  margin: 0 4px;
  width: 100%;
  svg {
    padding: 0;
    margin: 0;
    font-size: 18px;
    width: 16px;
    margin-top: 4px;
  }
  p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
  }
}

#filter-events {
  display: flex;
  justify-content: center;
}

// homepage
// index bars
.filters-index {
  padding: 0;
  button {
    background-color: $purple;
    border-color: $purple;
    &:focus {
      background-color: $purple!important;
      border-color: $purple!important;
    }
    &:hover {
      background-color: $purple!important;
      border-color: $purple!important;
    }
  }
  .dropdown-menu {
    transform: translate3d(0px, 31px, 0px)!important;
    div {
      float: left;
      width: 96%;
      border-bottom:1px solid #E0E0E0;
      margin: 0px;
      transition: all 275ms ease-in-out;
      display: block;
      padding: 5px;
    }
  }
}

.review-filter-btn a{
  display: flex;
  p {
    margin-bottom: 0;
    padding-right: 4px;
  }
}
//index bars
