.friend-container {
  padding: 10px 8px;
  margin-bottom: 95px;
}

.friend-btn {
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: $purple;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }


.friend-forme {
  background-color: white;
  padding: 30px 20px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.3);
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.skip-btn a {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  color: grey;
  padding: 10px;
  &:hover {
    color: $purple;
  }
}

.friend-title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-size: 24px;
}

.friend-subtitle {
  display: flex;
  justify-content: center;
}
