.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border: 2px solid whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-element-navbar {
  text-align: center;
}

.container-element-navbar a {
  color: $purple;
  font-size: 26px;
  &:hover {
    text-decoration: none;
    color: $purple;
  }
}

.container-element-navbar p {
  margin: 0;
  font-size: 12px;
}

.dropup .dropdown-toggle::after {
  content: none;
}

.dropdown-menu a{
  font-size: 18px;
  color: black;
  font-weight: lighter;
}

.icon-bigger svg {
  font-size: 28px;
}