.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border: 2px solid whitesmoke;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-item {
  color: $purple;
  &:hover {
    text-decoration: none;
    color: $purple;
  }
}

.navbar-item svg {
  font-size: 26px;
  width: 50px;
}

.navbar-item p {
  font-size: 12px;
  margin: 0;
}

.dropup .dropdown-toggle::after {
  content: none;
}

// icons specificities

.icon-cheers svg {
  width: 70px;
}

.icon-notification svg {
  width: 64px;
}

.icon-bigger svg {
  font-size: 28px;
}